<h4 style="font-family: oksana; color:#4e4d4d;">Nice to have you on board! Now have a seat and leave the heavy lifting to us.</h4><br/>
<p style="font-family: oksana; color:#4e4d4d;">As a reminder your username is {{this.username}}</p><br/>
<img src="https://cloud.githubusercontent.com/assets/16453456/19615583/1b5d2bda-97b6-11e6-9d56-91b252767d20.jpg"><br/>



