

<h4 style="font-family: oksana; color:#4e4d4d;">Hi there {{user.email}}!; Because you can't remember shit; Here is your daily reminder.</h4><br/>
{{#each user.Events}}
	<p style="font-family: oksana; color:#4e4d4d;">Remember that {{this.recipient_name}} has a {{this.event_type}}</p><br/>
{{/each}}

<img  src="https://cloud.githubusercontent.com/assets/16453456/19615583/1b5d2bda-97b6-11e6-9d56-91b252767d20.jpg"><br/>

